/* @media(min-width:600px){
    .container-1{
        display: flex;
        flex-direction: column;
    }
}

.container-1 div{
    border: 1px rgb(0, 0, 0) solid;
    padding: 10px;
}

.box-1{
    flex:1;
    order: 1;
}
.box-2{
    flex:1;
    order: 2;
}
.box-3{
    flex:1;
    order: 3;
}
.box-4{
    flex:1;
    order: 4;
}
.box-5{
    flex:1;
    order: 5;
}
.box-6{
    flex:1;
    order: 6;
}
.box-7{
    flex:1;
    order: 7;
} */

.container{
    
}

 .tierlist{
    display: flex;
    flex-direction: row;
    width: 60%
 }


.tierlist div{
    border: 1px rgb(0, 0, 0) solid;
    padding: 10px;
}

.difficulty{
    flex: 0 0 110px;
    order: 2;
    font-size: 12px;
    font-weight: bold;
    /* max-height: 60px; */
}
.champions{
    flex: 1;
    order: 1;
    margin-top: auto;
    font-size: 0px;
    /* max-height: 60px; */
    justify-content: first baseline;
}